@import-normalize;
@import 'style/shared';

body,
button {
  font-family: 'Roboto Mono', monospace;
}

.stopwatch {
  height: 130px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-150px, -65px);
  width: 300px;
}
